<div class='container'>
  <div align="right"><%= link_to "New Test", "/reset" %></div>
  <% if @responses.count > 0 %>
    <table class="response-table">
      <tr><th>Input</th><th>From Unit</th><th>To Unit</th><th>Student Answer</th><th>Result</th></tr>
      <% @responses.each do | resp | %>
          <tr>
            <td><%= resp.input %></td>
            <td><%= resp.from %></td>
            <td><%= resp.to %></td>
            <td class="<%= (resp.result == "correct") ? "good-response" : "bad-response" %>"><%= resp.answer %></td>
            <td><%= resp.result %></td>
          </tr>
      <% end %>
    </table>
    <span class="summary">Total Questions: <%= @responses.count %>, Total Correct: <%= @total_correct %>, Percent Correct: <%= @pct_correct %></span>
    <hr width="100%">
  <% end %>
  <strong>Please select a from and to conversion and enter the students response</strong>

  <%= form_for :student_response, :url => "/create" do |f| %>
    <table class="question-form">
      <tr><td>Input Value:</td><td> <%= f.text_field :resp_input %></td></tr>
      <tr><td>Convert From Unit:</td><td> <%= f.select(:resp_from, options_for_select(@unit_names))  %></td></tr>
      <tr><td>Convert To Unit:</td><td> <%= f.select(:resp_to, options_for_select(@unit_names))  %></td></tr>
      <tr><td>Student Answer:</td><td> <%= f.text_field :resp_answer%></td></tr>
    </table>
  <%= f.submit %>
<% end %>
<div align="right"><%= link_to "New Test", "/reset" %></div>
</div>
<script>
$(document).ready(function() {
  $("#student_response_resp_from").on('change', function(){
    $.ajax({
      url: "populate_response_to",
      type: "GET",
      data: {unit_name: $(this).val()}
    }).done(function(data) {
      var $resp_to = $("#student_response_resp_to");
      $resp_to.empty();
      $.each(data, function(index,value) {
           var $option = $("<option></option>").attr("value",value).text(value);
           $resp_to.append($option);
      })
    });
  });
});
</script>
