<!DOCTYPE html>
<html>
  <head>
    <title>FlexUOMConverter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/grayscale.min.css" rel="stylesheet">
  </head>

  <body>
    <div class='container'>
      <h2>Flexion Coding Challenge -- Unit of Measure Conversion</h2>
      <em>
        ** Note all unit of measure conversions are based on the UCUM (  Unified Code for Units of Measure(UCUM) - Units of Measure Org Specification )
      </em>
      <%= yield %>
    </div>
  </body>
</html>
